@use "./variables" as v;
@use "./mixins" as m;

/**********BUTTON**********/
.btn {
    cursor: pointer;
    &,
    &:link,
    &:visited {
        text-decoration: none;
        padding: 1rem 3rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;
        font-size: 1.5rem;
        border: none;
    }

    &:hover:not(&--blue) {
        transform: translateY(-2px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

        &::after {
            transform: scaleX(1.2) scaleY(0.5);
            opacity: 1;
        }
    }

    &:active,
    &:focus:not(&--blue) {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }

        &--white {
            color: v.$color-offwhite;
    
            &:hover {
                background: v.$color-grey-light-1;
                color: v.$color-tertiary-light;
            }
        }
    
        &--blue {
            float: right;
            color: v.$color-offblack;
            border-style: none;
            border: 1px solid v.$color-tertiary-light;
            border-radius: 1px;
            background-color: transparent;
    
            &:hover {
                color: v.$color-tertiary-light;
            }
        }

    &--dark {
        margin-top: 10rem;
        margin-left: 5rem;
        background: v.$color-grey-light-2;
        color: v.$color-tertiary-light;
        &:hover {
            color: v.$color-grey-light-2;
            background: v.$color-offblack;
        }
        @include m.respond(tab-land) {
        margin-top: 6rem;
        }
        @include m.respond(tab-port) {
            margin-top: 7rem;
        }
        @include m.respond(phone) {
            margin-top: 8rem;
        }
        @include m.respond(big-desktop) {
            margin-top: 5rem;
        }
    }
}