/**********COLORS**********/
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-light-grey: #777;
$color-gray: #999;
$color-dark-gary: #333;

$color-offwhite: #fff;
$color-offblack: #2C2F33;

$default-font-size: 1.6rem;

$gutter-vertical: 15rem;
$gutter-horizontal: 3rem;
$gutter-horizontal-small: 1rem;
$margin-top-huge: 10rem;