@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.section-about {
  background-color: v.$color-dark-gary;
  text-align: left;
  padding: 10rem 5rem 20rem 5rem;
  margin-top: -13rem;
  transform: skewY(-7deg);
 
  
  &>* {
    transform: skewY(7deg);
  }

    .col-1-of-2 {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(1, 600px);   
        @include m.respond(tab-port) {
        grid-template-columns: repeat(1, 500px);
        }
      
        @include m.respond(phone) {
        grid-template-columns: repeat(1, 350px);
        }
      
        @include m.respond(big-desktop) {
          grid-template-columns: repeat(1, 800px);
        }

    }

    .cutoff-text {
      --max-lines: 6;
      --line-height: 2;

      max-height: calc(var(--max-lines) * 1em * var(--line-height));
      line-height: var(--line-height);

      overflow: hidden;
      position: relative;
      
      &:has(+ .expand-btn:not(:checked)):before {
        content: "";
        position: absolute;
        height: calc(1em * var(--line-height));
        width: 100%;
        bottom: 0;
        pointer-events: none;
        background: linear-gradient(to right, transparent, v.$color-dark-gary);
      }
    }

    .expand-btn {
      appearance: none;
      padding: 2rem;
      border-radius: .25em;
      cursor: pointer;
      margin-top: 3rem;
      width: 10rem;
      text-align: center;
      &:hover {
        color: v.$color-offwhite;
      } 

      &::before {
        content: "Expand";
      }
      &:checked:before {
        content: "Collapse";
      }

    }

    .cutoff-text:has(+ .expand-btn:checked) {
      max-height: none;
    }

}
