@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.section-about {
  background-image: linear-gradient(to right bottom,
      rgba(v.$color-offblack, 1),
      rgba(v.$color-offblack, 0.7));
      background-size: cover;
  text-align: left;
  padding: 25rem 5rem 25rem 5rem;
  margin-top: -13rem;
  transform: skewY(-7deg);
  
  &>* {
    transform: skewY(7deg);
  }

.paragraph-about{
  word-spacing: 0.5rem;
  letter-spacing: 0.1rem;
  padding: 0 50rem;
  
    @include m.respond(tab-land) {
      padding: 0 25rem;
    }

    @include m.respond(tab-port) {
    font-size: 2.5rem;
    padding: 0 20rem;
    }
  
    @include m.respond(phone) {
      padding: 0 5rem;
    }
  
    @include m.respond(big-desktop) {
      padding: 0 35rem;
    }
}
}