@use '../../App.scss' as v;

.section-contact{
    padding: 25rem 5rem 25rem 5rem;
    background-color: v.$color-grey-light-1;
    background: linear-gradient(to right bottom,
                rgba(v.$color-offblack, 1),
                rgba(v.$color-offblack, 0.8));
        -webkit-clip-path: polygon(0 0, 100% 30%, 100% 50%, 100% 99%, 25% 100%, 0 100%);
        clip-path: polygon(0 12%,
                100% 0,
                100% 100%,
                100% 100%,
                100% 100%,
                0 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    .heading-secondary {
    margin-top: 40%;

    @include v.xl {
    margin-top: 20%;
    }
    }

.contact-form {
    width: 100%;
    ul {
        padding: 0;
        margin: 0;
    }

    li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        overflow: hidden;
        display: block;
        position: relative;
        clear: both;
    }

    li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;

        &:first-child {
            margin-left: 0;
        }
    }

    input[type='text'],
    input[type='email'] {
        width: 100%;
        border: 0;
        outline: none;
        border: 1px solid v.$color-light-grey;
        background: transparent;
        height: 50px;
        font-size: 16px;
        color: v.$color-offwhite;
        padding: 0 20px;
        box-sizing: border-box;
    }

    textarea {
        width: 100%;
        border: 0;
        outline: none;
        border: 1px solid v.$color-light-grey;
        background: transparent;
        height: 50px;
        font-size: 16px;
        color: v.$color-offwhite;
        padding: 20px;
        min-height: 150px;
        box-sizing: border-box;
        margin-bottom: 1rem;
    }

}
}