@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.section-contact{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 10rem 8rem 10rem 8rem;
    background: linear-gradient(to right bottom,
                rgba(v.$color-offblack, 1),
                rgba(v.$color-offblack, 0.8));
                


.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    .heading-secondary {
    @include m.xl {
    padding: 0;
    }
    }

.contact-form {
    ul {
        padding: 0;
        margin: 0;
    }

    li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        overflow: hidden;
        display: block;
        position: relative;
        clear: both;
    }

    li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;

        &:first-child {
            margin-left: 0;
        }
    }

    input[type="text"],
    input[type="email"] {
        width: 100%;
        border: 0;
        outline: none;
        border: 1px solid v.$color-light-grey;
        background: transparent;
        height: 50px;
        font-size: 16px;
        color: v.$color-offwhite;
        padding: 0 20px;
        box-sizing: border-box;
    }

    textarea {
        width: 100%;
        border: 0;
        outline: none;
        border: 1px solid v.$color-light-grey;
        background: transparent;
        height: 50px;
        font-size: 16px;
        color: v.$color-offwhite;
        padding: 20px;
        min-height: 150px;
        box-sizing: border-box;
        margin-bottom: 1rem;
    }

}
}
}