@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.header {
    height: 100vh;
    background-color: v.$color-grey-light-1;

    &__social {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 35%;
        left: 10%;
      }
    
      &__social-icon {
        margin-bottom: 10rem;
        font-size: 2.5rem;
        color: #000;
        justify-content: space-evenly;
        &:hover {
          color: v.$color-tertiary-light;
        }
        @include m.respond(phone) {
          font-size: 3rem;
        }
      }

    &__img {
        position: absolute;
        top: 50%;
        left: 80%;
        transform: translate(-50%, -50%);
        background: url(../../assets/natasa-yellow.PNG);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
        order: 1;
        justify-self: center;
        width: 300px;
        height: 300px;
        animation: profile__animation 8s ease-in-out infinite 1s;
        &:hover{
          box-shadow: 1px 1px 10p
          x 0 rgba(0, 0, 0, .1);
        }

      
        @include m.respond(tab-land) {
          width: 250px;
          height: 250px;
        }
        @include m.respond(tab-port) {
          top: 45%;
          width: 200px;
          height: 200px;
        }
        @include m.respond(phone) {
          top: 25%;
          left: 50%;
          width: 150px;
          height: 150px;
        }
        @include m.respond(big-desktop) {
        }
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 20%;
        text-align: left;
        @include m.respond(tab-land) {
        }

        @include m.respond(tab-port) {
          top: 35%;
        }
        @include m.respond(phone) {
          top: 40%;
        }
        @include m.respond(big-desktop) {
        }
    }

}


@keyframes profile__animation {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }

.heading-primary {
    backface-visibility: hidden;
    margin-left: 50px;

    &--main {
        display: block;
        font-size: 4.5rem;
        font-weight: 600;
        letter-spacing: 0.5rem;
        margin-bottom: 2rem;
        padding-right: 2rem;
        @include m.respond(tab-port) {
          font-size: 3.5rem;
        }
        @include m.respond(phone) {
          letter-spacing: 0;
          font-size: 4rem;
        }
    }

    &--sub {
        display: block;
        font-weight: 300;
        letter-spacing: 0.1rem;
        margin-right: 3rem;
        word-spacing: 0.3rem;
        @include m.respond(tab-land) {
          padding-right: 45rem;
        }
        @include m.respond(tab-port) {
          padding-right: 35rem;
        }
        @include m.respond(phone) {
          letter-spacing: 0;
          font-size: 2rem;
          padding-right: 0;
        }
        @include m.respond(big-desktop) {
          padding-right: 50rem;
        }
    }
}
