@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/**********COLORS**********/
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-light-grey: #777;
$color-gray: #999;
$color-dark-gary: #333;

$color-offwhite: #fff;
$color-offblack: #2C2F33;

$default-font-size: 1.6rem;

/**********GRID**********/
$grid-width: 114rem;
$gutter-vertical: 15rem;
$gutter-horizontal: 3rem;
$gutter-horizontal-small: 1rem;
$margin-top-huge: 10rem;

*,
*::after *::before {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-light-grey;
  box-sizing:border-box;
  @media screen and (min-width: 720px) {
    padding: 3rem;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


/**********MARGINS**********/
.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: $gutter-horizontal !important;
}

.u-margin-bottom-big {
  margin-bottom: $gutter-vertical !important;
}

.u-margin-top-big {
  margin-top: $gutter-vertical !important;
}
.u-margin-top-huge {
  margin-top: $margin-top-huge !important;
}

/**********TYPOGRAPHY**********/
.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 1.5px;
  margin-bottom: 2rem;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
  &:not(:last-child) {
      margin-bottom: 2rem;
  }
}


/**********BUTTON**********/
.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1rem 3rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.5rem;

    //Change for the <button> element
    border: none;
    cursor: pointer;
  }

  &:hover:not(&--blue) {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

    &::after {
      transform: scaleX(1.2) scaleY(1);
      opacity: 1;
    }
  }

  &:active,
  &:focus:not(&--blue) {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  &--dark {
    margin-top: 4rem;
    margin-left: 5rem;
    background: $color-grey-light-2;
    color: $color-tertiary-light;
    &:hover {
      color: $color-grey-light-2;
      background: $color-offblack;
    }
  }

  &--white {
    color: $color-offwhite;
    &:hover {
      background: $color-grey-light-1;
      color: $color-tertiary-light;
    }
  }

  &--blue {
    float: right;
    color: $color-offblack;
    border-style: none;
    border: 1px solid $color-tertiary-light;
    background-color: transparent;
    &:hover {
      color: $color-tertiary-light;
    }
  }
}


/**********BREAKPOINTS**********/

$breakpoints: (
  "sm": 480px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px,
  "xxl": 1600px,
);

/**********MIXINS**********/

@mixin sm {
  @media (min-width: map-get($breakpoints, "sm")) {
    @content;
  }
}

@mixin md {
  @media (min-width: map-get($breakpoints, "md")) {
    @content;
  }
}

@mixin lg {
  @media (min-width: map-get($breakpoints, "lg")) {
    @content;
  }
}

@mixin xl {
  @media (min-width: map-get($breakpoints, "xl")) {
    @content;
  }
}

 @mixin xxl {
   @media (min-width: map-get($breakpoints, "xxl")) {
     @content;
   }
  }